<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="BlobEndpoint=https://ravenstorageaccount.blob.core.windows.net/;QueueEndpoint=https://ravenstorageaccount.queue.core.windows.net/;TableEndpoint=https://ravenstorageaccount.table.core.windows.net/;FileEndpoint=https://ravenstorageaccount.file.core.windows.net/;AccountName=ravenstorageaccount;AccountKey=fMjtFr4t+ipYDn80QtlViVDOI6FyrrKpBzayZYFRRQR6WUfuV+PNdYSIjkBLIBO/B4+DZ72UTtFXOIBWNF/gnQ==" />
    <add name="AzureWebJobsStorage" connectionString="BlobEndpoint=https://ravenstorageaccount.blob.core.windows.net/;QueueEndpoint=https://ravenstorageaccount.queue.core.windows.net/;TableEndpoint=https://ravenstorageaccount.table.core.windows.net/;FileEndpoint=https://ravenstorageaccount.file.core.windows.net/;AccountName=ravenstorageaccount;AccountKey=fMjtFr4t+ipYDn80QtlViVDOI6FyrrKpBzayZYFRRQR6WUfuV+PNdYSIjkBLIBO/B4+DZ72UTtFXOIBWNF/gnQ==" />
    <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://customerportal-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=nIfmfo9heYECG3tpybpuZC3caHnd91dhNket4a87b4Q=" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>